<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area_id</key>
		<string>4564944</string>
		<key>area_name</key>
		<string>莘裕菜市场</string>
		<key>customer_transaction</key>
		<string>59</string>
		<key>lowPriceActivityGoods</key>
		<array/>
		<key>lowPriceActivityId</key>
		<string>0</string>
		<key>lowPriceActivitySteps</key>
		<array/>
		<key>marketDeliveryType</key>
		<string>2</string>
		<key>marketTransactionInfo</key>
		<string>本市场满59元免配送费</string>
		<key>nearMarket</key>
		<string>1</string>
		<key>send_out_up_price</key>
		<string>29.00</string>
		<key>ship_price</key>
		<string>3</string>
		<key>showLowPriceActivity</key>
		<string>0</string>
		<key>showLowPriceActivityButtonName</key>
		<string>去领取</string>
		<key>showLowPriceActivityTitle</key>
		<string></string>
		<key>showMarkGatherTogether</key>
		<string>1</string>
		<key>stores</key>
		<array>
			<dict>
				<key>goods</key>
				<array>
					<dict>
						<key>advanceStatus</key>
						<string>false</string>
						<key>area_id</key>
						<string>4564944</string>
						<key>categoryId</key>
						<string>65742,924</string>
						<key>goods_cart_id</key>
						<string>702322354375319552</string>
						<key>goods_count</key>
						<string>1</string>
						<key>goods_current_price</key>
						<string>15.80</string>
						<key>goods_id</key>
						<string>759053</string>
						<key>goods_inventory</key>
						<string>7</string>
						<key>goods_name</key>
						<string>膳博士猪心</string>
						<key>goods_price</key>
						<string>19.80</string>
						<key>img</key>
						<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/goods_standard_sku/721f9053-b9d0-4dd2-aeef-901573fd60b5.jpg_small.jpg</string>
						<key>invaidStatus</key>
						<string>false</string>
						<key>isMarketActivityGoods</key>
						<string>false</string>
						<key>lowPriceActivityGoods</key>
						<string>0</string>
						<key>marketActivityId</key>
						<string>-1</string>
						<key>standard_description</key>
						<string>300g/只</string>
						<key>store_id</key>
						<string>2924</string>
						<key>store_name</key>
						<string>膳博士莘裕店</string>
					</dict>
				</array>
				<key>rongCloudUserInfo</key>
				<dict>
					<key>rongCloudUserId</key>
					<string>171f19045e5f499289d5650056718331</string>
					<key>userId</key>
					<string>220490</string>
					<key>userLogo</key>
					<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/system/resources/image/circle/user_pic.png</string>
					<key>userName</key>
					<string>田魁杰</string>
				</dict>
				<key>showStoreGatherTogether</key>
				<string>0</string>
				<key>storeDisabled</key>
				<string>0</string>
				<key>storeOutBusinessBeginTime</key>
				<string></string>
				<key>storeOutBusinessEndTime</key>
				<string></string>
				<key>storeOutBusinessInfo</key>
				<string></string>
				<key>storeSpecialGoodsFlag</key>
				<string>false</string>
				<key>storeTransactionInfo</key>
				<string></string>
				<key>store_id</key>
				<string>2924</string>
				<key>store_name</key>
				<string>膳博士莘裕店</string>
				<key>total_price</key>
				<string>0</string>
			</dict>
		</array>
		<key>total_price</key>
		<string>0</string>
	</dict>
</array>
</plist>
