<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area_id</key>
		<string>4577708</string>
		<key>area_name</key>
		<string>喜满一楼菜市场</string>
		<key>customer_info</key>
		<string>还差￥#起送</string>
		<key>customer_transaction</key>
		<string>29</string>
		<key>lowPriceActivityGoods</key>
		<array/>
		<key>lowPriceActivityId</key>
		<string>0</string>
		<key>lowPriceActivitySteps</key>
		<array/>
		<key>marketDeliveryType</key>
		<string>1</string>
		<key>marketTransactionInfo</key>
		<string>本市场满29元起送</string>
		<key>nearMarket</key>
		<string>1</string>
		<key>send_out_up_price</key>
		<string>0.00</string>
		<key>ship_price</key>
		<string>0</string>
		<key>showLowPriceActivity</key>
		<string>0</string>
		<key>showLowPriceActivityButtonName</key>
		<string>去领取</string>
		<key>showLowPriceActivityTitle</key>
		<string></string>
		<key>showMarkGatherTogether</key>
		<string>1</string>
		<key>stores</key>
		<array>
			<dict>
				<key>goods</key>
				<array>
					<dict>
						<key>advanceStatus</key>
						<string>false</string>
						<key>area_id</key>
						<string>4577708</string>
						<key>categoryId</key>
						<string>65790,92</string>
						<key>goods_cart_id</key>
						<string>703042969528102912</string>
						<key>goods_count</key>
						<string>1</string>
						<key>goods_current_price</key>
						<string>9.00</string>
						<key>goods_id</key>
						<string>545393</string>
						<key>goods_inventory</key>
						<string>30</string>
						<key>goods_name</key>
						<string>清美绿豆粉丝</string>
						<key>goods_price</key>
						<string>10.00</string>
						<key>img</key>
						<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/goods_standard_sku/2017/08/29/1cbe4d40-e2a6-4dde-91ee-5f3c26920333.jpg_small.jpg</string>
						<key>invaidStatus</key>
						<string>false</string>
						<key>isMarketActivityGoods</key>
						<string>false</string>
						<key>lowPriceActivityGoods</key>
						<string>0</string>
						<key>marketActivityId</key>
						<string>-1</string>
						<key>standard_description</key>
						<string>160g/包  1包</string>
						<key>store_id</key>
						<string>3778</string>
						<key>store_name</key>
						<string>清美豆制品喜满楼店</string>
					</dict>
				</array>
				<key>rongCloudUserInfo</key>
				<dict>
					<key>rongCloudUserId</key>
					<string>41d5330f888900d1e5c55add8cf2e001</string>
					<key>userId</key>
					<string>426082</string>
					<key>userLogo</key>
					<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/system/resources/image/circle/user_pic.png</string>
					<key>userName</key>
					<string>何涛</string>
				</dict>
				<key>showStoreGatherTogether</key>
				<string>0</string>
				<key>storeDisabled</key>
				<string>0</string>
				<key>storeOutBusinessBeginTime</key>
				<string></string>
				<key>storeOutBusinessEndTime</key>
				<string></string>
				<key>storeOutBusinessInfo</key>
				<string></string>
				<key>storeSpecialGoodsFlag</key>
				<string>false</string>
				<key>storeTransactionInfo</key>
				<string></string>
				<key>store_id</key>
				<string>3778</string>
				<key>store_name</key>
				<string>清美豆制品喜满楼店</string>
				<key>total_price</key>
				<string>0</string>
			</dict>
		</array>
		<key>total_price</key>
		<string>0</string>
	</dict>
</array>
</plist>
