<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area_id</key>
		<string>4564548</string>
		<key>area_name</key>
		<string>朱莘菜市场</string>
		<key>customer_transaction</key>
		<string>29</string>
		<key>lowPriceActivityGoods</key>
		<array/>
		<key>lowPriceActivityId</key>
		<string>0</string>
		<key>lowPriceActivitySteps</key>
		<array/>
		<key>marketDeliveryType</key>
		<string>4</string>
		<key>marketTransactionInfo</key>
		<string></string>
		<key>nearMarket</key>
		<string>0</string>
		<key>send_out_up_price</key>
		<string>0.00</string>
		<key>ship_price</key>
		<string>0</string>
		<key>showLowPriceActivity</key>
		<string>0</string>
		<key>showLowPriceActivityButtonName</key>
		<string>去领取</string>
		<key>showLowPriceActivityTitle</key>
		<string></string>
		<key>showMarkGatherTogether</key>
		<string>0</string>
		<key>stores</key>
		<array>
			<dict>
				<key>goods</key>
				<array>
					<dict>
						<key>advanceStatus</key>
						<string>false</string>
						<key>area_id</key>
						<string>4564548</string>
						<key>categoryId</key>
						<string>65757,4877</string>
						<key>goods_cart_id</key>
						<string>703042692540461056</string>
						<key>goods_count</key>
						<string>1</string>
						<key>goods_current_price</key>
						<string>16.80</string>
						<key>goods_id</key>
						<string>902792</string>
						<key>goods_inventory</key>
						<string>97</string>
						<key>goods_name</key>
						<string>鸡腿</string>
						<key>goods_price</key>
						<string>20.00</string>
						<key>img</key>
						<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/goods_standard_sku/2017/07/21/78fd1dee-058b-458d-bb6d-d3690f0b5c5f.jpg_small.jpg</string>
						<key>invaidStatus</key>
						<string>false</string>
						<key>isMarketActivityGoods</key>
						<string>false</string>
						<key>lowPriceActivityGoods</key>
						<string>0</string>
						<key>marketActivityId</key>
						<string>-1</string>
						<key>standard_description</key>
						<string>500g/份</string>
						<key>store_id</key>
						<string>5165</string>
						<key>store_name</key>
						<string>天天鲜蔬菜朱莘店</string>
					</dict>
				</array>
				<key>rongCloudUserInfo</key>
				<dict>
					<key>rongCloudUserId</key>
					<string>b1224462d5f34992ed82cd1b7be7459d</string>
					<key>userId</key>
					<string>488585</string>
					<key>userLogo</key>
					<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/system/resources/image/circle/user_pic.png</string>
					<key>userName</key>
					<string>苏良</string>
				</dict>
				<key>showStoreGatherTogether</key>
				<string>0</string>
				<key>storeDisabled</key>
				<string>0</string>
				<key>storeOutBusinessBeginTime</key>
				<string></string>
				<key>storeOutBusinessEndTime</key>
				<string></string>
				<key>storeOutBusinessInfo</key>
				<string></string>
				<key>storeSpecialGoodsFlag</key>
				<string>false</string>
				<key>storeTransactionInfo</key>
				<string>单店铺满29元起送</string>
				<key>store_customer_transaction</key>
				<string>29</string>
				<key>store_id</key>
				<string>5165</string>
				<key>store_name</key>
				<string>天天鲜蔬菜朱莘店</string>
				<key>total_price</key>
				<string>0</string>
			</dict>
		</array>
		<key>total_price</key>
		<string>0</string>
	</dict>
</array>
</plist>
