<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area_id</key>
		<string>4555977</string>
		<key>area_name</key>
		<string>莘光菜市场</string>
		<key>customer_transaction</key>
		<string>59</string>
		<key>lowPriceActivityGoods</key>
		<array/>
		<key>lowPriceActivityId</key>
		<string>0</string>
		<key>lowPriceActivitySteps</key>
		<array/>
		<key>marketDeliveryType</key>
		<string>3</string>
		<key>marketTransactionInfo</key>
		<string></string>
		<key>nearMarket</key>
		<string>0</string>
		<key>send_out_up_price</key>
		<string>29.00</string>
		<key>ship_price</key>
		<string>3</string>
		<key>showLowPriceActivity</key>
		<string>0</string>
		<key>showLowPriceActivityButtonName</key>
		<string>去领取</string>
		<key>showLowPriceActivityTitle</key>
		<string></string>
		<key>showMarkGatherTogether</key>
		<string>0</string>
		<key>stores</key>
		<array>
			<dict>
				<key>goods</key>
				<array>
					<dict>
						<key>advanceStatus</key>
						<string>false</string>
						<key>area_id</key>
						<string>4555977</string>
						<key>categoryId</key>
						<string>65790,4223</string>
						<key>goods_cart_id</key>
						<string>703042776804028416</string>
						<key>goods_count</key>
						<string>1</string>
						<key>goods_current_price</key>
						<string>22.00</string>
						<key>goods_id</key>
						<string>387072</string>
						<key>goods_inventory</key>
						<string>92</string>
						<key>goods_name</key>
						<string>鲁王高筋粉(高筋粉)</string>
						<key>goods_price</key>
						<string>25.00</string>
						<key>img</key>
						<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/goods_standard_sku/2a2f7e75-790c-4f6a-bf36-fe4b32edc414.jpg_small.jpg</string>
						<key>invaidStatus</key>
						<string>false</string>
						<key>isMarketActivityGoods</key>
						<string>false</string>
						<key>lowPriceActivityGoods</key>
						<string>0</string>
						<key>marketActivityId</key>
						<string>-1</string>
						<key>standard_description</key>
						<string>5kg/份</string>
						<key>store_id</key>
						<string>2935</string>
						<key>store_name</key>
						<string>莘光切面店</string>
					</dict>
				</array>
				<key>rongCloudUserInfo</key>
				<dict>
					<key>rongCloudUserId</key>
					<string>61767af6bde8f960e5972af13f6672eb</string>
					<key>userId</key>
					<string>212016</string>
					<key>userLogo</key>
					<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/system/resources/image/circle/user_pic.png</string>
					<key>userName</key>
					<string>139****2731</string>
				</dict>
				<key>showStoreGatherTogether</key>
				<string>0</string>
				<key>storeDisabled</key>
				<string>0</string>
				<key>storeOutBusinessBeginTime</key>
				<string></string>
				<key>storeOutBusinessEndTime</key>
				<string></string>
				<key>storeOutBusinessInfo</key>
				<string></string>
				<key>storeSpecialGoodsFlag</key>
				<string>false</string>
				<key>storeTransactionInfo</key>
				<string>单店铺满59元免配送费</string>
				<key>store_customer_transaction</key>
				<string>59</string>
				<key>store_id</key>
				<string>2935</string>
				<key>store_name</key>
				<string>莘光切面店</string>
				<key>total_price</key>
				<string>0</string>
			</dict>
		</array>
		<key>total_price</key>
		<string>0</string>
	</dict>
</array>
</plist>
